@model Employee
@inject IEmployeeRepository _employeeRepository
@{
    ViewBag.Title = "Create";
}

<form asp-action="Create" method="post" style="width:300px">
    <div class="form-group m-2" >
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group m-2">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group m-2">
        <label asp-for="Department" class="control-label"></label>
        <select asp-for="Department" asp-items="Html.GetEnumSelectList<Department>()" class="form-control">
            <option value="">Please Select</option>
        </select>
            
        <span asp-validation-for="Department" class="text-danger"></span>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group m-2">
        <button type="submit"class="btn btn-primary">Create</button>
    </div>
    <div class="form-group m-2">
        Total Employees: @_employeeRepository.GetAllEmployees().Count()
    </div>
</form>


