@model WebApp.Models.Employee
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
    </title>
</head>
<body>
    <h3>@ViewBag.PageTitle</h3>

    <Div>Name: @Model.Name</Div>
    <Div>Department: @Model.Department</Div>
    <Div>Email: @Model.Email</Div>

</body>
</html>