@model IEnumerable<WebApp.Models.Employee>

<html xmlns="http://www.w3.org/1999/xhtml>

@{
    Layout = "~/Views/Shared/_EmpMngLayout.cshtml";
    ViewBag.Title = "Details Departments";
}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
            {
            <tr>
                <td>@employee.Department</td>
                <td>@employee.Name</td>
                <td>@employee.Email</td>
            </tr>
        }
    </tbody>
</table>