@model HomeDetailsViewModel

@{
    ViewBag.Title = "Employeee Details";
}

@if (Model.Employee != null)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="~/images/images.jpg" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title">@Model.Employee.Name</h2>
            <h5 class="card-text">@Model.Employee.Department</h5>
            <h5 class="card-text">@Model.Employee.Email</h5>
            <a asp-controller="Home", asp-action="Index" class="btn btn-primary">Back</a>
        </div>
    </div>
}
else
{
    <p>Employee not found</p>
    <a href="@Url.Action("Index", "Home")">Back</a>
}
