<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
    </title>
</head>
<body>  
    <h3>@ViewBag.PageTitle</h3>

    <Div>Name: @ViewBag.Employee.Name</Div>
    <Div>Department: @ViewBag.Employee.Department</Div>
    <Div>Email: @ViewBag.Employee.Email</Div>

</body>
</html>

