@model EmployeeManagement.ViewModels.HomeDetailsViewModel

@{
    ViewBag.Title = "Employeee Details";
}

<Div>
    Name: @Model.Employee.Name
</Div>
<Div>
    Department: @Model.Employee.Department
</Div>
<Div>
    Email: @Model.Employee.Email
</Div>
